*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: white;
}

/* video section */
.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 5rem;
  margin: 0;
  border-bottom: 2px solid #ccc;
  background: #f9f9f9;
}
/* @media screen and (min-width: 768px) {
  .video-section {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 15rem;
    padding: 3rem 2rem;
  }
} */
.video-section-title {
  grid-column: 1 / -1;
  margin: -0.5rem 0;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  padding: 0 0.5rem;
}
.video-section-close {
  background: none;
  outline: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #555;
}
/* video section */

/* video container */
.video-container {
  display: grid;
  justify-items: stretch;
}

/* video thumbnail */
.video-thumbnail {
  position: relative;
  display: inline-block;
  height: 150px;
  background: #aaa;
}
.video-thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
  font-size: 0.9rem;
}
.video-thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* video thumbnail */

/* video channel */
.video-channel {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #aaa;
}

.video-channel-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* video channel */

/* video details */
.video-details {
  display: flex;
  margin-top: 0.5rem;
}
.video-metadata {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
}
.video-title {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
}
.video-channel-name {
  margin-bottom: 0.1rem;
  text-decoration: none;
  text-transform: capitalize;
}
.video-channel-name,
.video-meta {
  font-size: 0.875rem;
  color: #555;
  transition: color 150ms;
}
.video-channel-name:hover {
  color: #111;
}
/* video details */

/* categories */
.categories {
  margin: 0;
  padding: 0.7rem 1.7rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* @media screen and (min-width: 768px) {
  .categories {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 15rem;
  }
} */
.category-section {
  display: flex;
  overflow: hidden;
}
.category {
  outline: none;
  border: none;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  word-wrap: none;
  white-space: nowrap;
  border-radius: 900px;
  text-transform: capitalize;
  cursor: pointer;
}
.category.active {
  background: #606060;
  color: white;
  border-color: #eee;
}
.category:hover {
  background-color: #ddd;
}
/* categories */

/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
}
.youtube-logo {
  height: 20px;
}
.search-bar {
  display: none;
}
.search-bar-input {
  width: 55%;
  border: 1px solid #777;
  padding: 0.2rem 0.5rem;
  font-size: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

@media screen and (min-width: 768px) {
  .search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
}

.search-bar-btn {
  display: flex;
  align-items: center;
  border: 1px solid #777;
  border-left: none;
  outline: none;
  padding: 0.1rem 1rem;
  background: #f8f8f8;
  cursor: pointer;
}
.menu-icons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1.5rem;
  align-items: center;
}
.user-account {
  width: 36px;
  height: 36px;
}
/* header */

/**/
.main-div {
  display: grid;
  grid-template-columns: 100vw;
}
/**/

/*sidebar*/
.sidebar {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-div {
    grid-template-columns: 9vw 91vw;
  }
  .sidebar {
    display: block;
  }
  .general-item {
    display: none;
  }
  .general-item.medium {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    font-size: 10px;
    color: #505050;
  }
  .general-item img {
    height: 24px;
  }
  .subscription-items {
    display: none;
  }
  .general-item.active {
    color: red;
  }
  .general-item img {
    filter: invert(30%) sepia(2%) saturate(3%) hue-rotate(321deg)
      brightness(92%) contrast(82%);
  }
}
@media screen and (min-width: 1200px) {
  .main-div {
    grid-template-columns: 17vw 83vw;
  }
  .general-item {
    display: flex;
  }
  .general-items {
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid #ccc;
  }
  .general-item,
  .general-item.medium {
    flex-direction: row;
    align-items: center;
    padding: 0 1.2rem;
    height: 40px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #505050;
  }
  .general-item.active {
    background: #eee;
    font-weight: 600;
  }
  .general-item img {
    margin-right: 1rem;
    height: 20px;
  }
  .general-item.active {
    background: #eee;
    font-weight: 600;
  }
  .subscription-items {
    display: block;
  }
}
.general-item.active img {
  filter: invert(16%) sepia(89%) saturate(7130%) hue-rotate(358deg)
    brightness(115%) contrast(113%);
}

.general-item:hover {
  background: #f8f8f8;
}
/*sidebar*/

/*subscription items*/
.subscription-items h3 {
  padding: 1rem 1.2rem;
  font-size: 14px;
  color: #505050;
  font-weight: 600;
}
.subscription-item {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  height: 40px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #505050;
}
.subscription-item img {
  margin-right: 1rem;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #aaa;
}
.dot {
  margin-left: 1rem;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: blue;
}
.subscription-item:hover {
  background: #f8f8f8;
}
/*subscription items*/
